<footer class="footer">
    <div class="container">                      
        <div class="location">
            <h1>Location</h1>
            <h3>41790 Madrone Street</h3>
            <h4>Springfield, Oregon 97478</h4>
        </div>
        
        <div class="around-web-links">
            <h1 class="around-web-title">Around the Web</h1> 
           <h2>
            <img class="aroundWebLink" src="../../../assets/images/fb.JPG">
            <img class="aroundWebLinks" src="../../../assets/images/linkedin.JPG">
            <img class="aroundWebLink" src="../../../assets/images/instagram.JPG">
            <img class="aroundWebLink" src="../../../assets/images/reddit.JPG">
            <img class="aroundWebLink" src="../../../assets/images/gmail.JPG">
        </h2>
        </div>        
        
        <div class="about">
            <h1 class="aboutList">About Hacker</h1>
            <h3>I'm the best in all the west!</h3>
            <div class="copyRight"></div>            
        </div>            
    </div>

    <h6>Copyright © 2021 by Katie Kassapides</h6>
</footer>